- title 'Maps'
%h2= @title

- content_for :sidebar do
  != render :partial => '/shared/events', :object => @events

.container
  %table#maps
    %thead
      %tr
        %th Name
        %th Status
        %th Goals
    %tbody
      - @maps.each do |map|
        %tr[map]
          %td
            %div
              = controls_for map
              = link_to h(map.name), map
          %td= status_image(map)
          %td= map.goals.count
      - if @maps.empty?
        %tr
          %td{:colspan => 3}=t ".#{write_permission? ? 'write' : 'read'}.empty"
    - if write_permission?
      %tfoot
        %tr
          %td{:colspan => 3}
            %p= new_link('new map', Map)
