- content_for :sidebar do
  != render :partial => '/shared/network_graph'
  != render :partial => '/shared/comments', :object => resource

- content_for :editable do
  %p== Map Manager: #{linked_user_name map.manager}

!= render :partial => '/layouts/object_header', :object => resource

%h2 Top Level Goals

.container
  %table
    %thead
      %tr
        %th Name
        %th Status
    %tbody
      - map.children.each do |goal|
        %tr
          %td
            %div
              = controls_for goal.hierarchy
              = link_to h(goal.name), goal.hierarchy
          %td= status_image(goal)
      - if map.children.empty?
        %tr
          %td.helptext{:colspan => 2}=t ".#{write_permission? ? 'write' : 'read'}.empty"
    - if write_permission?
      %tfoot
        %tr
          %td{:colspan => 2}= new_link('new goal', map.hierarchy << Goal)

!= render :partial => '/stakes/index', :object => map

