%h2 Stakeholders

- if flash[:error]
  #error= flash[:error]

.container
  %table#users
    %thead
      %tr
        %th Name
        %th Email Address
    %tbody
      - @users.each do |user|
        %tr[user]
          %td
            %div
              = controls_for user.hierarchy
              = user.name
              - if user.admin
                (admin)
          %td
            %div= link_to(h(user.email), user)
      - if @users.empty?
        %tr
          %td{:colspan => 2}=t ".#{write_permission? ? 'write' : 'read'}.empty"
    - if write_permission?
      %tfoot
        %tr
          %td{:colspan => 2}
            %p= new_link('new user', User)
