- title 'Stakeholders'
%h2= @title

- if flash[:error]
  #error= flash[:error]

.container
  %table#users
    %thead
      %tr
        %th Name
        %th Email Address
    -@users.each do |initial, users|
      %thead.category{:id => "users_#{ initial }"}
        %tr
          %th{:colspan => 2}= initial.capitalize
      %tbody
        - users.each do |user|
          %tr[user]
            %td
              %div
                - if write_permission?
                  %ul.controls
                    = edit_control(user.hierarchy)
                    - if user != current_user
                      = delete_control(user.hierarchy)
                - elsif user == current_user
                  %ul.controls= edit_control(user.hierarchy)

                = link_to user.name, user
                - if user.admin
                  (admin)
            %td
              %div= user.email
        - if @users.empty?
          %tr
            %td{:colspan => 2}=t ".#{write_permission? ? 'write' : 'read'}.empty"
    - if write_permission?
      %tfoot
        %tr
          %td{:colspan => 2}
            %p= new_link('new user', User)
