!= render :partial => '/layouts/object_header', :object => resource

%h2 Details

.container
  %table#user
    %tbody
      %td Email Address
      %td
        %nobr= user.email

- if write_permission?
  %p.footer
    %a.button{:href => edit_user_path(current_user)} Edit

-#
  %h2 Stakes:

  .container
    %table
      %thead
        %tr
          %th Role
          %th Goal
          %th Status
      %tbody
        - user.stakes.all(:conditions => ['goal_id IS NOT NULL']).each do |stake|
          %tr
            %td
              - if write_permission?
                %div
                  - unless stake.enforced
                    %ul.controls= delete_control(stake.hierarchy)
              = stake.name
            %td
              %nobr= link_to(h(stake.goal.name), stake.goal.hierarchy)
            %td
              %nobr= status_image(stake.goal)
        - if user.stakes.empty?
          %tr
            %td{:colspan => 3}=t '.read.empty'