!= render :partial => '/layouts/object_header', :object => resource

%h2 Details

.container
  %table#user
    %tbody
      %td Email Address
      %td
        %nobr= user.email

- if write_permission? or (resource == current_user)
  %p.footer
    %a.button{:href => edit_user_path(resource)} Edit
    - if user != current_user
      = link_to('delete', resource, :confirm => 'Are you sure?', :method => :delete, :class => 'button')

%h2 Stakes:

.container
  %table
    %thead
      %tr
        %th Stake
        %th Map
        %th Goal
        %th Status
    %tbody
      - @stakes.each do |stake|
        %tr
          %td= stake.name
          %td
            %nobr= stake.goal.map.name
          %td
            %nobr= link_to(h(stake.goal.name), stake.goal.hierarchy)
          %td
            %nobr= status_image(stake.goal)
      - if user.stakes.empty?
        %tr
          %td{:colspan => 3}=t '.read.empty'