- if object.respond_to?(:comments)
  %h3== #{image_tag 'bubble.png', :style => 'vertical-align:bottom'} Discussion

  #discussion
    - if object.comments.empty?
      %p There are no comments for this #{controller_name.singularize}.
    - else
      %ul.discussion
        - object.comments.each do |comment|
          %li{:style => comment.override_status ? "border-top:solid 2px #{Status::Color[comment.status || 0]};padding-top:2em" : nil}
            - if write_permission?
              %ul.controls
                %li.delete= link_to('delete', comment_path(polymorphic_parameters(object).merge(:id => comment.id)), :confirm => 'Are you sure?', :method => :delete)

            #{comment_status_image comment}
            :textile
              #{comment.message}
            %p.details== <span class="user">#{linked_user_name(comment.user)}</span> - <span class="posted_at">#{comment.created_at.to_s(:short)}</span>

    - if user_signed_in?
      %p.discuss= link_to 'discuss', new_comment_path(polymorphic_parameters(object)), :class => 'button'