- unless object.nil?
  %fieldset#activity
    %legend Recent Activity
    %table
      - map_events(object).each do |date, events|
        %thead
          %tr
            %th{:colspan => 3}= date
        %tbody
          - events.each do |event|
            %tr
              %td.updated_at= event.updated_at.strftime('%H:%M')
              %td.action= timeline_action_icon(event)
              %td.model_type= t("timeline.models.#{event.model.class.to_s.underscore}", :default => event.model.class.to_s)
              %td.model
                %span
                  - if event.model.instance_of?(SupportingGoal)
                    = event_model(event.model.supported_by)
                    →
                    = event_model(event.model.goal)
                  - elsif event.model.instance_of?(Comment)
                    = event_model(event.model.parent)
                  - else
                    = event_model(event.model)