- fields_for object, :builder => LabellingFormBuilder do |f|  
  != f.text_field(:name)
  != f.text_area(:description)
  
  %fieldset.factor_target
    %legend Target
    %ul
      %li= f.text_field(:target, :size => 10)
      %li.advanced= f.text_field(:report, :size => 10)
      %li.advanced= f.text_field(:fail, :size => 10)

  %fieldset.factor_predicted
    %legend Predicted <small>or</small> Actual
    %ul
      %li= f.text_field(:likely, :size => 10)
      %li.advanced= f.text_field(:best, :size => 10)
      %li.advanced= f.text_field(:worst, :size => 10)

  %fieldset.factor_context.advanced
    %legend Context
    %ul
      %li= f.select(:priority, options_for_select(Factor::Priorities.map{|s| [s.to_s.humanize.titlecase, s] }, object.priority))
      %li= f.text_field(:benchmark)
      %li= f.text_field(:benchmark_source)

  .toggle_advanced

:javascript
  var advancedFields = $$('.advanced');
  var show = 'Show Advanced';
  var hide = 'Hide Advanced';
  
  $$('.toggle_advanced').grab(new Element('a',
  {
    'text': hide,
    'href': '',
    'class': 'button',
    'events':
    {
      'click': function(e)
      {
        target = $((e && e.target) || this);
        
        switch (target.get('text'))
        {
          case show:
            target.set('text', hide);
            advancedFields.show();
          break;
          case hide:
            target.set('text', show);
            advancedFields.hide();
          break;
            
        }
        return false;
      }
    }
  }));

- unless object.advanced?
  :javascript
    $$('.toggle_advanced > a.button').fireEvent('click');
