- content_for :sidebar do
  != render :partial => '/shared/comments', :object => resource

!= render :partial => '/layouts/object_header', :object => factor

#factor_content
  %fieldset#factor_target
    %legend Target
    %ul
      %li
        Target:
        %span.value= factor.target
      %li
        Report:
        %span.value= factor.report
      %li
        Fail:
        %span.value= factor.fail

  %fieldset#factor_predicted
    %legend Predicted
    %ul
      %li
        Likely:
        %span.value= factor.likely
      %li
        Best:
        %span.value= factor.best
      %li
        Worst:
        %span.value= factor.worst

  %fieldset#factor_context
    %legend Context
    %ul
      %li
        Priority:
        %span.value= factor.priority
      %li
        Benchmark:
        %span.value= factor.benchmark
      %li
        Benchmark Source:
        %span.value= factor.benchmark_source

.form_footer
  - if write_permission?
    = link_to 'Edit', polymorphic_path([:edit, *resource.hierarchy]), :class => 'button'
  = link_to 'Back', polymorphic_path(resource.parent_node.hierarchy)