- title "Edit #{current_model_name.humanize}"

%h1= @title

- content_for :sidebar do
  != render :partial => '/shared/comments', :object => resource

!= error_messages_for controller_name.singularize

- form_tag resource.hierarchy, :method => :put do
  != render :partial => 'form', :object => resource
 
  .form_footer
    %input{:type => 'submit', :value => 'Update'}  
    = link_to('Cancel', session[:back] || :back, :class => 'button')

  = focus_form
