- title "New #{current_model_name.humanize}"

%h1= @title

!= error_messages_for controller_name.singularize

- form_tag local_assigns[:url] || url_for(resource.hierarchy) do
  != render :partial => 'form', :object => resource
 
  .form_footer
    %input{:type => 'submit', :value => 'Create'}  
    = link_to('Cancel', session[:back] || :back, :class => 'button')

  :javascript
    scripts = document.getElementsByTagName('script');
    script = scripts[scripts.length - 1];
    Array.filter(script.parentElement.elements, function(e) {return e.getProperty('type') != 'hidden'}).pick().focus();