%h2 Stakes

.container
  %table#stakes
    %thead
      %tr
        %th Name
        %th Owner
    %tbody
      - object.stakes.each do |stake|
        %tr
          %td
            - if write_permission?
              %div
                - unless stake.enforced
                  %ul.controls= delete_control(stake.hierarchy)
                = link_to h(stake.name), polymorphic_path(stake.hierarchy, :action => :edit)
            - else
              = stake.name
          %td= linked_user_name(stake.user)
      - if object.stakes.empty?
        %tr
          %td.helptext{:colspan => 2}=t ".#{write_permission? ? 'write' : 'read'}.empty"
    - if write_permission?
      %tfoot
        %tr
          %td{:colspan => 2}
            %p= new_link('new stake', object.hierarchy << Stake)