#description.tab
  %h1
    - if object.respond_to?(:computed_status)
      != status_image(object)
    %span.model=h object.class.human_name
    !=h object.name

  - if object.respond_to?(:description)
    #description_text
      - unless object.description.blank? #Sanitize.clean(object.description, Sanitize::Config::RESTRICTED)
        :textile
          #{h object.description}
      - else
        %p No description.

  - if (editable = yield(:editable))
    #editable= editable
    - if write_permission?
      .controls
        = link_to 'edit', polymorphic_path(resource.hierarchy, :action => :edit), :class => 'button'
        = link_to 'delete', polymorphic_path(resource.hierarchy), :method => 'delete', :confirm => 'Are you sure?', :class => 'button'
      
