!!! Strict
%html{html_attrs('en-GB')}
  %head
    :javascript
      window.name = 'main';
    %link{:href => '/favicon.png', :rel => 'icon', :type => 'image/png'}
    %title== Pelorus - #{@title || (resource && resource.respond_to?(:name) ? resource.name : 'Home')}
    != stylesheet_link_tag 'application'
    != javascript_include_tag :mootools
    != yield :head
  %body
    #header_container
      #header
        %h1
          %a{:href => root_path}
            %span
              %img{:src => '/images/logo.png'}
              Pelorus - The Tool For Change
        %ul.controls
          %li= link_to 'Maps', root_path
          - if Event.count > 0
            %li= link_to 'Timeline', timeline_path
          %li= link_to 'Stakeholders', users_path
          - if user_signed_in?
            %li= link_to "#{current_user.name} (Logout)", destroy_user_session_path
          - else
            %li= link_to 'Login', new_user_session_path
    #page_container
      = yield(:page) || capture do 
        #page
          #sidebar_container
            #sidebar
              - if resource and !controller.devise_controller?
                %h3 Navigation:
                #breadcrumbs
                  %ul
                    != breadcrumbs(resource).join
              != yield :sidebar
          #content_container
            #content{:class => %(#{resource_name}_content)}
              != yield
          %div{:style => 'clear:both'}
    #footer_container
      #footer
        %p Pelorus is designed and built by John Speed Ltd &ndash; a small company based in Winchester, England.
        #contact_details
          %p{:style => 'float:left;width:45%;text-align:right'} email: <a href="mailto:enquiries@toolforchange.com">enquiries@toolforchange.com</a>
          %p{:style => 'float:right;width:45%;text-align:left'} telephone: +44 (0)1962 711703

  != javascript_include_tag 'application'
  != yield :finally