!!! Strict
%html{html_attrs('en-GB')}
  %head
    %title== Pelorus - #{@title || (resource && resource.respond_to?(:name) ? resource.name : 'Home')}
    != stylesheet_link_tag 'graphs'
    != javascript_include_tag :mootools
    != yield :head
  %body= yield